<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WhatsappBot Ekatunggal</title>
    <style>
      .client {
        border: solid 1px #ccc;
        padding: 2px;
        box-sizing: border-box;
        display: inline-block;
        margin: 10px;
      }
      .hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Whatsapp API</h1>
      <p>Powered by IT Ekatungggal</p>
      <div class="form-container">
        <label for="client-id">ID</label><br />
        <input type="text" id="client-id" placeholder="Masukan ID" />
        <br /><br />
        <labelfor="cliend-description"
          >Deskripsi</label
        ><br />
        <textarea
          rows="3"
          type="text"
          id="client-description"
          placeholder="Masukan Deskripsi"
        ></textarea>
        <br /><br />
        <button class="add-client-btn">Tambah Client</button>
      </div>
      <hr />
      <div class="client-container">
        <div class="client hide">
          <h3 class="title"></h3>
          <p class="description"></p>
          <img src="" alt="QRCODE" id="qrcode" />
          <h3>Logs :</h3>
          <ul class="logs"></ul>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"
      integrity="sha512-iqRVtNB+t9O+epcgUTIPF+nklypcR23H1yR1NFM9kffn6/iBhZ9bTB6oKLaGMv8JE9UgjcwfBFg/eHC/VMws+g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(document).ready(function () {
        var socket = io();
        // Ketika button tambah di klik
        $(".add-client-btn").click(function () {
          var clientName = $("#client-id").val();
          var clientDescription = $("#client-description").val();
          var template = $(".client")
            .first()
            .clone()
            .removeClass("hide")
            .addClass(clientName);
          template.find(".title").html(clientName);
          template.find(".description").html(clientDescription);
          $(".client-container").append(template);

          socket.emit("create-session",{
          name:clientName,
          description:clientDescription,
        })
        });     


        socket.on('init',(data)=>{
          console.log(data)
          for(var i=0;i<data.length;i++){
            var session = data[i]
            var clientName = session.name
            var clientDescription = session.deskripsi;
            var template = $(".client")
              .first()
              .clone()
              .removeClass("hide")
              .addClass(clientName);
            template.find(".title").html(clientName);
            template.find(".description").html(clientDescription);
            $(".client-container").append(template);

            if(session.ready){
              $(`.client.${session.name} .logs`).append($("<li>").text("Whatsapp is ready .."));
            }else{
              $(`.client.${session.name} .logs`).append($("<li>").text("Connecting ..."));
            }
          }
        })

        socket.on("message", (data) => {
          $(`.client.${data.name} .logs`).append($("<li>").text(data.text));
        });

        socket.on("qr", (data) => {
          $(`.client.${data.name} #qrcode`).attr("src", data.src);
          $(`.client.${data.name} #qrcode`).show()
        });

        socket.on("ready", (data) => {
          $(`.client.${data.name} #qrcode`).hide();
        });

        socket.on("authenticated", (data) => {
          $(`.client.${data.name} #qrcode`).hide();
        });
      });
    </script>
  </body>
</html>